In [680]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
from zoneinfo import ZoneInfo

pd.set_option("display.max_rows", None, "display.max_columns", None)

#Read in the Excel File
#df = pd.read_excel (r'/Users/reid/Downloads/test 2021-05-06 start.xlsx')
df = pd.read_excel (r'/Users/reid/Downloads/SCATEST.xlsx')

In [681]:
#Check if there are missing timestamps
df['time'].isnull().values.any()

False

In [682]:
#Check if there are missing VTWS_AVG values
df['VTWS_AVG'].isnull().values.any()

True

In [683]:
df["Timestamp flag"] = " "
df["data qc flag VTWS_AVG"] = " "

In [684]:
x=0
while x<len(df):
    if isNaN(df["time"].values[x]) is True:
        df.at[x,"time"]=pd.to_datetime(df["time"].values[x+1])-pd.Timedelta("1 hour")
        df.at[x,"Timestamp flag"]="missing from original input dataset"
        x+=1
    else:
        x+=1

In [685]:
x=0
while x<len(df):
    if math.isnan(df["VTWS_AVG"].values[x]):
        df.at[x,"data qc flag VTWS_AVG"]="Erroneous"
        x+=1
    else:
        x+=1

In [686]:
def isNaN(string):
    return string != string

In [687]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(df)

,id,time,VTWS_AVG,WIND_SPEED,WIND_SPEED_2,windspeed5,Windspeed3a,Timestamp flag,data qc flag VTWS_AVG
0,0,2020-11-03 06:00:00-06:00,10.775331,10.687425,10.728533,11.908320,10.730430,,
1,1,2020-11-03 07:00:00-06:00,9.092214,9.165928,9.199237,9.464774,9.152460,,
2,2,2020-11-03 15:00:00-06:00,7.908880,8.012490,8.013744,9.959714,7.978371,,
3,6,2020-11-03 16:00:00-06:00,NaN,6.047835,6.047835,6.047835,6.047835,,Erroneous
4,7,2020-11-03 17:00:00-06:00,5.545103,5.613959,5.626535,5.973509,5.595199,,
5,8,2020-11-03 18:00:00-06:00,NaN,6.029251,6.029251,6.029251,6.029251,,Erroneous

In [688]:
df

,id,time,VTWS_AVG,WIND_SPEED,WIND_SPEED_2,windspeed5,Windspeed3a,Timestamp flag,data qc flag VTWS_AVG
0,0,2020-11-03 06:00:00-06:00,10.775331,10.687425,10.728533,11.908320,10.730430,,
1,1,2020-11-03 07:00:00-06:00,9.092214,9.165928,9.199237,9.464774,9.152460,,
2,2,2020-11-03 15:00:00-06:00,7.908880,8.012490,8.013744,9.959714,7.978371,,
3,6,2020-11-03 16:00:00-06:00,NaN,6.047835,6.047835,6.047835,6.047835,,Erroneous
4,7,2020-11-03 17:00:00-06:00,5.545103,5.613959,5.626535,5.973509,5.595199,,
5,8,2020-11-03 18:00:00-06:00,NaN,6.029251,6.029251,6.029251,6.029251,,Erroneous

In [689]:
x=0
while x<len(df)-1:
    if df.at[x,"id"]+1 != df.at[x+1,"id"]+1:
        print("PANIC")
        df.iloc[4]=[1,1,1,1,1,1,1,1,1]
        x+=1
    else:
        x+=1

PANIC
PANIC
PANIC
PANIC
PANIC

In [690]:
df

,id,time,VTWS_AVG,WIND_SPEED,WIND_SPEED_2,windspeed5,Windspeed3a,Timestamp flag,data qc flag VTWS_AVG
0,0,2020-11-03 06:00:00-06:00,10.775331,10.687425,10.728533,11.908320,10.730430,,
1,1,2020-11-03 07:00:00-06:00,9.092214,9.165928,9.199237,9.464774,9.152460,,
2,2,2020-11-03 15:00:00-06:00,7.908880,8.012490,8.013744,9.959714,7.978371,,
3,6,2020-11-03 16:00:00-06:00,NaN,6.047835,6.047835,6.047835,6.047835,,Erroneous
4,1,1,1.000000,1.000000,1.000000,1.000000,1.000000,1,1
5,8,2020-11-03 18:00:00-06:00,NaN,6.029251,6.029251,6.029251,6.029251,,Erroneous